<?xml version="1.0" encoding="UTF-8"?>
<generator_template title="News" download_url="http://leevigraham.com" version="1.0.0">
	<description>
	<![CDATA[
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	]]>
	</description>

	<authors>
		<author name="Leevi Graham" url="http://newism.com.au"/>
	</authors>

	<requirements>
		<requirement type="addon" title="NSM Live Look v1.0" download_url="" />
	</requirements>

    <post_import_instructions>
    <![CDATA[
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	]]>
    </post_import_instructions>

	<category_groups>
		<group group_name="Test Channel" id="test_channel">
			<category cat_name="News1" cat_url_title="news_1">
				<category cat_name="News1.1.1" cat_url_title="news_1_1_1" />
			</category>
			<category cat_name="News2" cat_url_title="news_2" />
			<category cat_name="News3" cat_url_title="news_3" />
			<category cat_name="News4" cat_url_title="news_4" />
			<category cat_name="News5" cat_url_title="news_5" />
		</group>
	</category_groups>

	<template_groups>
		<group group_name="_components">
			<template template_name=".comments" />
		</group>
		<group group_name="_includes">
			<template template_name=".head" />
			<template template_name=".foot" />
		</group>
		<group group_name="_forms">
			<template template_name=".comment" />
			<template template_name=".contact" />
		</group>
		<group group_name="feeds">
			<template template_name="channel" template_type="rss" />
		</group>
		<group group_name="channel" is_site_default="y">
			<template template_name=".sidebar"/>
			<template template_name="category-archive"/>
			<template template_name="date-archive"/>
			<template template_name="post"/>
		</group>
		<group group_name="pages">
			<template template_name="404"/>
			<template template_name="contact"/>
		</group>
		<group group_name="site" />
	</template_groups>

	<custom_field_groups>
		<group group_name="Test Channel" id="test_channel">
			<field field_label="Alternative Title" field_name="news_alternate_title" />
			<field field_label="Summary" field_name="news_summary" />
			<field field_label="Content" field_name="news_content" />
			<field field_label="Extended Content" field_name="news_extended_content" field_type="textarea" />
		</group>
	</custom_field_groups>

	<status_groups>
		<group group_name="Status Group" id="test_channel">
			<status status="open" />
			<status status="closed" />
			<status status="pending" />
			<status status="featured" />
		</group>
	</status_groups>

	<channels>
		<requirements>
			<requirement type="template" target="_includes/*" />
			<requirement type="template" target="_components/*" />
		</requirements>
		<channel channel_name="news" channel_description="foo" channel_title="News" channel_url="/test_channel/" status_group="test_channel" cat_group="test_channel" comment_url="/test_channel/post/" field_group="test_channel">
			<bundle_channel_description>
			<![CDATA[
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			]]>
			</bundle_channel_description>
			<requirements>
				<requirement type="template" target="channel/*" />
				<requirement type="template" target="_forms/.comment" />
				<requirement type="template" target="feeds/channel" />
 			</requirements>
			<entry>
				<field id="title" formatting="none">Entry title</field>
				<field id="url_title">entry_title</field>
                <custom_field id="news_alternate_title" type="matrix" formatting="none">
                    <data formatting="none">adfdsf1</data>
                    <data1>adfdsf2</data1>
                    <data2>adfdsf3</data2>
                    <data3>adfdsf4</data3>
                </custom_field>
                <custom_field id="news_summary">News summary</custom_field>
                <custom_field id="news_content">News content</custom_field>
                <custom_field id="news_extended_content">News extended content</custom_field>
                <custom_tab id="news_extended_content">News extended content</custom_tab>
                <category id="news_2" />
                <category id="news_3" />
                <category id="news_4" />
                <category id="news_5" />
			</entry>
		</channel>
		<channel channel_name="pages" channel_title="Pages" status_group="test_channel">
			<bundle_channel_description>
			<![CDATA[
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			]]>
			</bundle_channel_description>
		</channel>
	</channels>

</generator_template>